@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-100 font-sans antialiased selection:bg-primary selection:text-primary-foreground;
  }
}

@layer utilities {

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full border-2 border-slate-950;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }
}